{
  "extends": "@antfu",
  "globals": {
    "$": true,
    "Vue": true,
    "_": true,
    "GM_setValue": true,
    "GM_getValue": true,
    "GM_addStyle": true,
    "GM_xmlhttpRequest": true,
    "GM_download": true
  },
  "rules": {
    "no-console": "off",
    "no-new": "off",
    "vue/html-self-closing": "off",
    "vue/no-deprecated-events-api": "off",
    "vue/require-explicit-emits": "off",
    "vue/no-deprecated-destroyed-lifecycle": "off",
    "vue/no-deprecated-v-bind-sync": "off"
  }
}